!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width,initial-scale=1.0", name: "viewport"}
    %meta{content: "Personal Website of @iyanski", name: "description"}
    %meta{content: "Haml, HAML, haml, Rails, Ruby, Ruby on Rails, Life, nodejs", name: "keywords"}
    %title Ian Bert Tusil
  %link{href: "/images/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}
  %link{href: "./css/default.css", media: "all", rel: "stylesheet", type: "text/css"}

  %body.main
    .container
      Ian Bert Tusil
  %footer